<%= form_for @page, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field input-block-level' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :text, :class => 'text_area input-block-level' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= select('page', 'category_id', Category.find(:all).collect  {|cat| [cat.title, cat.id]}, {:prompt => "Select category"}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <% if @page.image? %>
      <div class="controls">
        <%= image_tag(@page.image_url) %>
        <%= f.check_box :remove_image %>
        Remove image
      </div>
    <% end %>
    <div class="controls">
      <%= f.file_field :image %>
     </div>
   </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pages_path, :class => 'btn' %>
  </div>
<% end %>
